# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# EF Core
*.mdf
*.ldf
*.ndf

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
